<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ator.nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card *ngIf="ator">
    <ion-card-header>
      <img *ngIf="ator.foto" src="{{ator.foto}}">
      <ion-icon *ngIf="!ator.foto" name="videocam-off"></ion-icon>
    </ion-card-header>

    <ion-card-content>
      <h1><strong>{{ator.nome}}</strong></h1>
    </ion-card-content>

    <ion-text>{{ator.bio}}</ion-text>
  </ion-card>
</ion-content>
